[submodule "projects/simple-music-player"]
	path = projects/simple-music-player
	url = https://github.com/lugomio/simple-music-player.git
[submodule "projects/password-generator"]
	path = projects/password-generator
	url = https://github.com/lugomio/password-generator.git
[submodule "projects/drums-of-liberation"]
	path = projects/drums-of-liberation
	url = https://github.com/lugomio/drums-of-liberation.git
[submodule "projects/minimal-clock"]
	path = projects/minimal-clock
	url = https://github.com/lugomio/minimal-clock.git
[submodule "projects/expandable-gallery"]
	path = projects/expandable-gallery
	url = https://github.com/lugomio/expandable-gallery.git
[submodule "projects/ajax-search-cities"]
	path = projects/ajax-search-cities
	url = https://github.com/lugomio/ajax-search-cities.git
[submodule "projects/click-canvas"]
	path = projects/click-canvas
	url = https://github.com/lugomio/click-canvas.git
[submodule "projects/check-multiple-checkbox"]
	path = projects/check-multiple-checkbox
	url = https://github.com/lugomio/check-multiple-checkbox.git
[submodule "projects/video-player"]
	path = projects/video-player
	url = https://github.com/lugomio/video-player.git
