[submodule "projects/simple-music-player"]
	path = projects/simple-music-player
	url = https://github.com/lugomio/simple-music-player.git
[submodule "projects/password-generator"]
	path = projects/password-generator
	url = https://github.com/lugomio/password-generator.git
[submodule "projects/drums-of-liberation"]
	path = projects/drums-of-liberation
	url = https://github.com/lugomio/drums-of-liberation.git
[submodule "projects/minimal-clock"]
	path = projects/minimal-clock
	url = https://github.com/lugomio/minimal-clock.git
[submodule "projects/expandable-gallery"]
	path = projects/expandable-gallery
	url = https://github.com/lugomio/expandable-gallery.git
[submodule "projects/ajax-search-cities"]
	path = projects/ajax-search-cities
	url = https://github.com/lugomio/ajax-search-cities.git
[submodule "projects/click-canvas"]
	path = projects/click-canvas
	url = https://github.com/lugomio/click-canvas.git
[submodule "projects/check-multiple-checkbox"]
	path = projects/check-multiple-checkbox
	url = https://github.com/lugomio/check-multiple-checkbox.git
[submodule "projects/video-player"]
	path = projects/video-player
	url = https://github.com/lugomio/video-player.git
[submodule "projects/to-do-list"]
	path = projects/to-do-list
	url = https://github.com/lugomio/to-do-list.git
[submodule "projects/webcam-fun"]
	path = projects/webcam-fun
	url = https://github.com/lugomio/webcam-fun.git
[submodule "projects/browser-speech-recognition"]
	path = projects/browser-speech-recognition
	url = https://github.com/lugomio/browser-speech-recognition.git
[submodule "projects/browser-speech-synthesis"]
	path = projects/browser-speech-synthesis
	url = https://github.com/lugomio/browser-speech-synthesis.git
[submodule "projects/follow-along-dropdown"]
	path = projects/follow-along-dropdown
	url = https://github.com/lugomio/follow-along-dropdown.git
[submodule "projects/countdown-clock"]
	path = projects/countdown-clock
	url = https://github.com/lugomio/countdown-clock.git
[submodule "projects/whack-a-mole-game"]
	path = projects/whack-a-mole-game
	url = https://github.com/lugomio/whack-a-mole-game.git
[submodule "projects/tic-tac-toe"]
	path = projects/tic-tac-toe
	url = https://github.com/lugomio/tic-tac-toe.git
[submodule "projects/super-links"]
	path = projects/super-links
	url = https://github.com/lugomio/super-links.git
